# Dependencies
bower_components/
node_modules/

# Decrypted secrets
config/static-secrets.json

# Compiled assets
dist/

# Temporary assets
public/images/screenshots/*.jpg

# Server development/test assets
test-redis.pid
queries.log

# Visual test assets
gemini/
gemini-report/

# Common project errors
npm-debug.log
vendor/GeoLite2-City.mmdb
