# Dependencies
bower_components/
node_modules/

# Compiled assets
dist/

# Temporary assets
public/images/screenshots/*.jpg

# Visual test assets
gemini/
gemini-report/

# Common project errors
npm-debug.log
