@mixin well() {
  // Same styles as inputs/Bootstrap well
  border: 1px solid $well-border;
  border-radius: $well-border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  padding: $base-spacing-unit;
}

.nav__top {
  margin-bottom: $base-spacing-unit;
}

@include media-query(medium-and-down) {
  .nav__top {
    margin-bottom: $half-spacing-unit;
  }
}

.nav__logo {
  margin-top: $base-spacing-unit;
}

@include media-query(medium) {
  .nav__logo {
    margin-top: 0;
  }
}

@include media-query(small) {
  .nav__logo {
    margin-top: $half-spacing-unit;
  }
}

.nav-notes {
  @include well();
  padding: $half-spacing-unit;
}

.content__heading {
  margin-top: $base-spacing-unit;
}

@include media-query(medium-and-down) {
  .content__heading {
    margin-top: 0;
    margin-bottom: $half-spacing-unit;
  }
}

.content__subheading {
  margin-bottom: $base-spacing-unit;
}

@include media-query(medium-and-down) {
  .content__subheading {
    margin-bottom: $half-spacing-unit;
  }
}

.action-bar__info {
  display: inline;
}

.action-bar__actions {
  display: inline;
}

@include media-query(large) {
  .action-bar__actions {
    margin-left: $base-spacing-unit;
  }
}

@include media-query(medium-and-down) {
  .action-bar__actions {
    display: block;
    margin-top: $half-spacing-unit;
  }

  .action {
    padding-left: 11px;
    padding-right: 11px;
  }
}

.company-notes-and-research__container {
  float: right;
  display: block;
}

@include media-query(small) {
  .company-notes-and-research__container {
    float: none;
    display: inline-block;
  }
}

@include media-query(small) {
  .research-company {
    margin-bottom: $half-spacing-unit;

    @include well();
    padding: $half-spacing-unit $half-spacing-unit 0;
  }
}

.footer-link {
  margin-left: $half-spacing-unit;
  margin-right: $half-spacing-unit;
}

@include media-query(small) {
  .footer-link {
    margin-left: 0;
    margin-right: 0;
  }

  //- DEV: We use the general sibling selector to allow conditional br's
  .footer-link ~ .footer-link {
    margin-left: $half-spacing-unit;
  }
}

// Override styles for Chosen bootstrap
.chosen-container .chosen-results li em {
    background: #FAFCAB;
}

.chosen-container .chosen-results li.group-result {
    color: #666;
}

// Landing page
.landing__logo {
  width: 308px;
}
@include media-query(medium) {
  .landing__logo {
    width: 271px;
  }
}
@include media-query(small) {
  .landing__logo {
    width: 279px;
  }
}

@include media-query(large) {
  .workflow-heading,
  .logos-heading {
    @include font-size($h2-size);
  }
}

// Logos on landing page
$large-logos__behance-left: 21px;
$large-logos__behance-width: 243px;
$large-logos__behance-right: $large-logos__behance-left + $large-logos__behance-width;
$large-logos__uber-left: 333px;
$large-logos__uber-width: 215px;
$large-logos__uber-right: $large-logos__uber-left + $large-logos__uber-width;
// DEV: left + width must be <= large breakpoint
$large-logos__underdogio-left: 621px;
$large-logos__underdogio-width: 240px;
$large-logos__underdogio-right: $large-logos__underdogio-left + $large-logos__underdogio-width;
.logos {
  margin-bottom: $base-spacing-unit;
}
.logos__behance,
.logos__uber,
.logos__underdogio {
  display: inline-block;
}
.logos__behance {
  margin-left: $large-logos__behance-left;
  margin-right: $large-logos__uber-left - $large-logos__behance-right;
}
.logos__behance img {
  position: relative;
  top: -10px;
  width: $large-logos__behance-width;
}
.logos__uber {
  margin-right: $large-logos__underdogio-left - $large-logos__uber-right;
}
.logos__uber img {
  position: relative;
  top: -10px;
  width: $large-logos__uber-width;
}
.logos__underdogio img {
  width: $large-logos__underdogio-width;
}
@include media-query(medium) {
  $medium-logos__behance-left: 0;
  $medium-logos__behance-width: 163px;
  $medium-logos__behance-right: $medium-logos__behance-left + $medium-logos__behance-width;
  $medium-logos__uber-left: 192px;
  $medium-logos__uber-width: 134px;
  $medium-logos__uber-right: $medium-logos__uber-left + $medium-logos__uber-width;
  $medium-logos__underdogio-left: 350px;
  $medium-logos__underdogio-width: 174px;
  $medium-logos__underdogio-right: $medium-logos__underdogio-left + $medium-logos__underdogio-width;
  .logos {
    margin-bottom: $base-spacing-unit;
  }
  .logos__behance {
    margin-left: $medium-logos__behance-left;
    margin-right: $medium-logos__uber-left - $medium-logos__behance-right;
  }
  .logos__behance img {
    position: relative;
    top: -10px;
    width: $medium-logos__behance-width;
  }
  .logos__uber {
    margin-right: $medium-logos__underdogio-left - $medium-logos__uber-right;
  }
  .logos__uber img {
    position: relative;
    top: -10px;
    width: $medium-logos__uber-width;
  }
  .logos__underdogio img {
    width: $medium-logos__underdogio-width;
  }
}
@include media-query(small) {
  .logos {
    margin-bottom: 0;
  }

  .logos__behance,
  .logos__uber,
  .logos__underdogio {
    margin: 0;
    display: block;
  }
  .logos__behance img,
  .logos__uber img,
  .logos__underdogio img {
    top: 0;
    left: 0;
  }

  .logos__behance {
    margin-bottom: 18px;
  }
  .logos__behance img {
    width: 202px;
  }
  .logos__uber {
    margin-bottom: 11px;
  }
  .logos__uber img {
    width: 170px;
  }
  .logos__underdogio {
    padding-right: 20px;
  }
  .logos__underdogio img {
    width: 216px;
  }
}

.screenshots {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
@include media-query(medium) {
  .screenshots {
    max-width: 692px;
  }
}
@include media-query(small) {
  .screenshots {
    max-width: 392px;
  }
}

.screenshot-highlight--interviews__container,
.screenshot-highlight--reminders__container,
.screenshot-highlight--notes__container,
.screenshot-highlight--research__container {
  position: absolute;
}
.screenshot-highlight--interviews,
.screenshot-highlight--reminders,
.screenshot-highlight--notes,
.screenshot-highlight--research {
  background: $screenshot-highlight-bg;
  border: $arrow-border solid $screenshot-highlight-border-color;
  padding: $base-spacing-unit;
  border-radius: $btn-border-radius;
  min-height: 40px;
  text-align: center;

  position: absolute !important;

  @include media-query(medium-and-down) {
    padding: $half-spacing-unit;
  }
}

@mixin left-screenshot-highlight($options) {
  &__container {
    top: map-get($options, 'top');
    left: 0;
    @if (map-get($options, 'full-width') == true) {
      right: 0;
    } @else {
      right: 50%;
    }
  }

  @include arrow(right, map-get($options, 'position'), $screenshot-highlight-bg, $screenshot-highlight-border-color);
  left: 0;
  right: map-get($options, 'right');
}
@mixin right-screenshot-highlight($options) {
  &__container {
    top: map-get($options, 'top');
    left: 50%;
    right: 0;
  }

  @include arrow(left, map-get($options, 'position'), $screenshot-highlight-bg, $screenshot-highlight-border-color);
  left: map-get($options, 'left');
  right: 0;
}
@include media-query(large) {
  .screenshot-highlight--interviews {
    @include left-screenshot-highlight((top: 135px, right: 289px, position: 'top'));
  }
  .screenshot-highlight--reminders {
    @include left-screenshot-highlight((top: 255px, right: 140px, position: 'top'));
  }
  .screenshot-highlight--notes {
    @include right-screenshot-highlight((top: 135px, left: 282px, position: 'top'));
  }
  .screenshot-highlight--research {
    @include right-screenshot-highlight((top: 260px, left: 259px, position: 'top'));
  }
}
@include media-query(medium) {
  .screenshot-highlight--interviews {
    @include left-screenshot-highlight((top: 50px, right: 160px, position: 'top'));
  }
  .screenshot-highlight--reminders {
    @include left-screenshot-highlight((top: 355px, right: 160px, position: 'top'));
  }
  .screenshot-highlight--notes {
    @include right-screenshot-highlight((top: 260px, left: 157px, position: 'top'));
  }
  .screenshot-highlight--research {
    @include right-screenshot-highlight((top: 360px, left: 157px, position: 'top'));
  }
}
@include media-query(small) {
  .screenshot-highlight--interviews {
    @include left-screenshot-highlight((top: 50px, right: 195px, position: 'center', full-width: true));
  }
  .screenshot-highlight--notes {
    @include left-screenshot-highlight((top: 252px, right: 195px, position: 'center', full-width: true));
  }
  .screenshot-highlight--research {
    @include left-screenshot-highlight((top: 353px, right: 195px, position: 'center', full-width: true));
  }
  .screenshot-highlight--reminders {
    @include left-screenshot-highlight((top: 474px, right: 195px, position: 'top', full-width: true));
  }
}

.form-control--editable-title {
  // DEV: CSS cascade will override `border` and `box-shadow` for focus
  border: 0;
  box-shadow: none;
  background: #EEE;

  // Double our padding for more closeness to scaled up input
  padding-left: 6px;
  padding-right: 6px;

  // Define a width to prevent jumping widths when `autosize-input` initializes
  // DEV: This will always be less than `min-width` so we will use that but otherwise min-width won't be triggered
  width: 200px;

  // Correct vertical offsets so we act like text
  margin-top: -3px;
  margin-bottom: -3px;

  // Add ellipsis support to our title
  // DEV: This isn't bulletproof but works more/less especially with a11y
  //   Example issue: On Firefox, if you fill out content, then leave cursor at end of line, it won't show ellipsis
  text-overflow: ellipsis;
  white-space: pre;
}

@include media-query(large) {
  .form-control--editable-title {
    max-width: 77.777%; // 7/9 to match layout
    min-width: 44.444%; // 4/9 to match layout
  }
}

@include media-query(medium) {
  .form-control--editable-title {
    max-width: 100%;
    min-width: 50%; // 1/2 to match layout
  }
}

@include media-query(small) {
  .form-control--editable-title {
    width: 100% !important;
  }
}
