@mixin well() {
  // Same styles as inputs/Bootstrap well
  border: 1px solid $well-border;
  border-radius: $well-border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  padding: $base-spacing-unit;
}

.nav__top {
  margin-bottom: $base-spacing-unit;
}

@include media-query(medium-and-down) {
  .nav__top {
    margin-bottom: $half-spacing-unit;
  }
}

.nav__logo {
  margin-top: $base-spacing-unit;
}

@include media-query(medium) {
  .nav__logo {
    margin-top: 0;
  }
}

@include media-query(small) {
  .nav__logo {
    margin-top: $half-spacing-unit;
  }
}

.nav-notes {
  @include well();
  padding: $half-spacing-unit;
}

.content__heading {
  margin-top: $base-spacing-unit;
}

@include media-query(medium-and-down) {
  .content__heading {
    margin-top: 0;
    margin-bottom: $half-spacing-unit;
  }
}

.content__subheading {
  margin-bottom: $base-spacing-unit;
}

@include media-query(medium-and-down) {
  .content__subheading {
    margin-bottom: $half-spacing-unit;
  }
}

.action-bar__info {
  display: inline;
}

.action-bar__actions {
  display: inline;
}

@include media-query(large) {
  .action-bar__actions {
    margin-left: $base-spacing-unit;
  }
}

@include media-query(medium-and-down) {
  .action-bar__actions {
    display: block;
    margin-top: $half-spacing-unit;
  }

  .action {
    padding-left: 11px;
    padding-right: 11px;
  }
}

.company-notes-and-research__container {
  float: right;
  display: block;
}

@include media-query(small) {
  .company-notes-and-research__container {
    float: none;
    display: inline-block;
  }
}

@include media-query(small) {
  .research-company {
    margin-bottom: $half-spacing-unit;

    @include well();
    padding: $half-spacing-unit $base-spacing-unit 0;
  }
}

.footer-link {
  margin-left: $half-spacing-unit;
  margin-right: $half-spacing-unit;
}

@include media-query(small) {
  .footer-link {
    margin-left: 0;
    margin-right: 0;
  }

  //- DEV: We use the general sibling selector to allow conditional br's
  .footer-link ~ .footer-link {
    margin-left: $half-spacing-unit;
  }
}

// Override styles for Chosen bootstrap
.chosen-container .chosen-results li em {
    background: #FAFCAB;
}

.chosen-container .chosen-results li.group-result {
    color: #666;
}

// Logos on nav page
$large-behance-logo-left: 31px;
$large-behance-logo-width: 243px;
$large-behance-logo-right: $large-behance-logo-left + $large-behance-logo-width;
$large-uber-logo-left: 379px;
$large-uber-logo-width: 215px;
$large-uber-logo-right: $large-uber-logo-left + $large-uber-logo-width;
$large-underdogio-logo-left: 671px;
$large-underdogio-logo-width: 240px;
$large-underdogio-logo-right: $large-underdogio-logo-left + $large-underdogio-logo-width;
.behance-logo {
  position: relative;
  top: -10px;
  width: $large-behance-logo-width;
  margin-left: $large-behance-logo-left;
  margin-right: $large-uber-logo-left - $large-behance-logo-right;
}
.uber-logo {
  position: relative;
  top: -10px;
  width: $large-uber-logo-width;
  margin-right: $large-underdogio-logo-left - $large-uber-logo-right;
}
.underdogio-logo {
  width: $large-underdogio-logo-width;
}

.screenshot-highlight--interviews,
.screenshot-highlight--reminders,
.screenshot-highlight--notes,
.screenshot-highlight--research {
  position: absolute;
  background: $screenshot-highlight-bg;
  border: $arrow-border solid $screenshot-highlight-border-color;
  padding: $base-spacing-unit;
  border-radius: $btn-border-radius;
  min-height: 40px;
  text-align: center;
}

.screenshot-highlight--interviews {
  top: 135px;
  left: 10px;
  width: 180px;
  @include arrow(right, top, $screenshot-highlight-bg, $screenshot-highlight-border-color);
}
.screenshot-highlight--reminders {
  top: 255px;
  left: 10px;
  width: 315px;
  @include arrow(right, top, $screenshot-highlight-bg, $screenshot-highlight-border-color);
}
.screenshot-highlight--notes {
  top: 135px;
  right: 0px;
  width: 200px;
  @include arrow(left, top, $screenshot-highlight-bg, $screenshot-highlight-border-color);
}
.screenshot-highlight--research {
  top: 260px;
  right: 0px;
  width: 220px;
  @include arrow(left, top, $screenshot-highlight-bg, $screenshot-highlight-border-color);
}
