@mixin well() {
  // Same styles as inputs/Bootstrap well
  border: 1px solid $well-border;
  border-radius: $well-border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  padding: $base-spacing-unit;
}

.nav__top {
  margin-bottom: $base-spacing-unit;
}

@include media-query(medium-and-down) {
  .nav__top {
    margin-bottom: $half-spacing-unit;
  }
}

.nav__logo {
  margin-top: $base-spacing-unit;
}

@include media-query(medium) {
  .nav__logo {
    margin-top: 0;
  }
}

@include media-query(small) {
  .nav__logo {
    margin-top: $half-spacing-unit;
  }
}

.nav-notes {
  @include well();
  padding: $half-spacing-unit;
}

.content__heading {
  margin-top: $base-spacing-unit;
}

@include media-query(medium-and-down) {
  .content__heading {
    margin-top: 0;
    margin-bottom: $half-spacing-unit;
  }
}

.content__subheading {
  margin-bottom: $base-spacing-unit;
}

@include media-query(medium-and-down) {
  .content__subheading {
    margin-bottom: $half-spacing-unit;
  }
}

.action-bar__info {
  display: inline;
}

.action-bar__actions {
  display: inline;
}

@include media-query(large) {
  .action-bar__actions {
    margin-left: $base-spacing-unit;
  }
}

@include media-query(medium-and-down) {
  .action-bar__actions {
    display: block;
    margin-top: $half-spacing-unit;
  }

  .action {
    padding-left: 11px;
    padding-right: 11px;
  }
}

.company-notes-and-research__container {
  float: right;
  display: block;
}

@include media-query(small) {
  .company-notes-and-research__container {
    float: none;
    display: inline-block;
  }
}

@include media-query(small) {
  .research-company {
    margin-bottom: $half-spacing-unit;

    @include well();
    padding: $half-spacing-unit $half-spacing-unit 0;
  }
}

.footer-link {
  margin-left: $half-spacing-unit;
  margin-right: $half-spacing-unit;
}

@include media-query(small) {
  .footer-link {
    margin-left: 0;
    margin-right: 0;
  }

  //- DEV: We use the general sibling selector to allow conditional br's
  .footer-link ~ .footer-link {
    margin-left: $half-spacing-unit;
  }
}

// Override styles for Chosen bootstrap
.chosen-container .chosen-results li em {
    background: #FAFCAB;
}

.chosen-container .chosen-results li.group-result {
    color: #666;
}

// Landing page
.landing__logo {
  width: 308px;
}

@include media-query(small) {
  width: 279px;
}

@include media-query(large) {
  .workflow-heading,
  .logos-heading {
    @include font-size($h2-size);
  }
}

// Logos on landing page
$large-logos__behance-left: 31px;
$large-logos__behance-width: 243px;
$large-logos__behance-right: $large-logos__behance-left + $large-logos__behance-width;
$large-logos__uber-left: 356px;
$large-logos__uber-width: 215px;
$large-logos__uber-right: $large-logos__uber-left + $large-logos__uber-width;
$large-logos__underdogio-left: 671px;
$large-logos__underdogio-width: 240px;
$large-logos__underdogio-right: $large-logos__underdogio-left + $large-logos__underdogio-width;
.logos {
  margin-bottom: $base-spacing-unit;
}
.logos__behance {
  position: relative;
  top: -10px;
  width: $large-logos__behance-width;
  margin-left: $large-logos__behance-left;
  margin-right: $large-logos__uber-left - $large-logos__behance-right;
}
.logos__uber {
  position: relative;
  top: -10px;
  width: $large-logos__uber-width;
  margin-right: $large-logos__underdogio-left - $large-logos__uber-right;
}
.logos__underdogio {
  width: $large-logos__underdogio-width;
}
@include media-query(small) {
  .logos {
    margin-bottom: 0;
  }

  .logos__behance,
  .logos__uber,
  .logos__underdogio {
    top: 0;
    margin: 0;
    left: 0;
  }

  .logos__behance {
    width: 202px;
    margin-bottom: 18px;
  }
  .logos__uber {
    width: 170px;
    margin-bottom: 11px;
  }
  .logos__underdogio {
    width: 216px;
    margin-right: 20px;
  }
}

.screenshot-highlight--interviews,
.screenshot-highlight--reminders,
.screenshot-highlight--notes,
.screenshot-highlight--research {
  background: $screenshot-highlight-bg;
  border: $arrow-border solid $screenshot-highlight-border-color;
  padding: $base-spacing-unit;
  border-radius: $btn-border-radius;
  min-height: 40px;
  text-align: center;

  @include media-query(small) {
    padding: $half-spacing-unit;
  }
}
@include media-query(large) {
  .screenshot-highlight--interviews {
    @include arrow(right, top, $screenshot-highlight-bg, $screenshot-highlight-border-color);
    position: absolute;
    top: 135px;
    left: 10px;
    width: 180px;
  }
  .screenshot-highlight--reminders {
    @include arrow(right, top, $screenshot-highlight-bg, $screenshot-highlight-border-color);
    position: absolute;
    top: 255px;
    left: 10px;
    width: 315px;
  }
  .screenshot-highlight--notes {
    @include arrow(left, top, $screenshot-highlight-bg, $screenshot-highlight-border-color);
    position: absolute;
    top: 135px;
    right: 0px;
    width: 200px;
  }
  .screenshot-highlight--research {
    @include arrow(left, top, $screenshot-highlight-bg, $screenshot-highlight-border-color);
    position: absolute;
    top: 260px;
    right: 0px;
    width: 220px;
  }
}

@include media-query(small) {
  .screenshot-highlight--interviews {
    @include arrow(right, center, $screenshot-highlight-bg, $screenshot-highlight-border-color);
    position: absolute;
    top: 50px;
    left: 0px;
    width: 150px;
  }
  .screenshot-highlight--notes {
    @include arrow(right, center, $screenshot-highlight-bg, $screenshot-highlight-border-color);
    position: absolute;
    top: 252px;
    left: 0px;
    width: 150px;
  }
  .screenshot-highlight--research {
    @include arrow(right, center, $screenshot-highlight-bg, $screenshot-highlight-border-color);
    position: absolute;
    top: 340px;
    left: 0px;
    width: 150px;
  }
  .screenshot-highlight--reminders {
    @include arrow(right, top, $screenshot-highlight-bg, $screenshot-highlight-border-color);
    position: absolute;
    top: 474px;
    left: 0;
    width: 150px;
  }
}
