// # VARS.SCSS
// We define variables in 2 parts: chrome (e.g. colors) and layout (e.g. padding, margins)
// This is to reduce likelihood of variable crossover

// ## Chrome
// Define colors in 2 phases
// First phase: Colors to human friendly name
// Second phase: Human friendly name to element property value
// DEV: This is to consolidate similar colors and keep a reusable palette
//   while preventing a single element color change from affecting other elements

// Phase 1: Colors
// Please base names off of https://en.wikipedia.org/wiki/Color_Naming_System
// Grayscale from black to white
$black: #000000;
$gray-x22: #222222;
$gray-x33: #333333;
$gray-x99: #999999;
$gray-xCC: #CCCCCC;
$gray-xE6: #E6E6E6;
$gray-xEE: #EEEEEE;
$white: #FFFFFF;

// Rainbow (red, orange, yellow, green, blue, indigo, violet)
$red: #DA3C37;
$dark-red: #CD0000;
$blue: #2579D2;
$pale-blue: #66AFE9; // https://github.com/twbs/bootstrap/blob/v3.3.6/less/variables.less#L203
$light-blue: #0626D3;
$vivid-purple: #4E009A;

// One-off values
$sixty: 60;

// Phase 2: Color mappings
// Body text color
$body-color: $gray-x22;

// Brand colors
$brand-dark: $blue;
$brand-light: $white;

// Button styles
$btn--default-color: $gray-x33;
$btn--default-bg: $white;
$btn--default-border: $gray-xCC;

$btn--primary-color: $white;
$btn--primary-bg: $blue;
$btn--primary-border: darken($btn--primary-bg, 5%);

$btn--danger-color: $white;
$btn--danger-bg: $red;
$btn--danger-border: darken($btn--danger-bg, 5%);

// Input styles
// https://github.com/twbs/bootstrap/blob/v3.3.6/less/variables.less#L10-L15
// https://github.com/twbs/bootstrap/blob/v3.3.6/less/variables.less#L179-L213
$bs-input-bg: $white; // default
$bs-input-bg-disabled: $gray-xEE; // default
$bs-input-color: $gray-x22; // Same as body color
$bs-input-border: $gray-xCC; // default
$bs-input-border-focus: $pale-blue;
$bs-input-color-placeholder: $gray-x99; // default

// Link styles
$link-color: $light-blue;
$link--visited-color: $vivid-purple;
$link--active-color: $dark-red;

// Nav styles
$nav-row-border-color: $brand-dark;

// Well styles
$well-border: $bs-input-border;

// Generic variables
$muted-opacity: $sixty; // 60 percent

// ## Layout
// Some reference values can be found here: https://docs.google.com/document/d/1yQJLRq2gRh6HbuProMCavvap91DJyZMG69Lj9lo2sws/edit
// Spacing/padding
$base-spacing-unit: 18px;

// Border radius
$bs-border-radius-base: 4px;

// Responsive handling
$large-max-width: 960px;

// Font family
// https://github.com/csswizardry/inuit.css/blob/v5.0.1/_defaults.scss#L48-L51
// https://github.com/corysimmons/typographic/blob/2.9.3/scss/typographic.scss#L34
$base-font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
// TODO: Determine if we need a brand font face (I don't think so as our logo only uses it [Lato])

// Font sizes
// https://github.com/csswizardry/inuit.css/blob/v5.0.1/_defaults.scss#L42-L46
// https://github.com/csswizardry/inuit.css/blob/v5.0.1/_defaults.scss#L117-L129
$base-font-size: 14px;
$base-line-height: 18px;

$giga-size: 96px; // default
$mega-size: 72px; // default
$kilo-size: 48px; // default

$h1-size: 34.18px; // .alpha
$h2-size: 27.34px; // .beta
$h3-size: 21.88px; // .gamma
$h4-size: 17.50px; // .delta
$h5-size: 16px; // .epsilon, default
$h6-size: 14px; // .zeta, default

$small-size: 11.20px;
$milli-size: 12px; // default
$micro-size: 10px; // default

// Button styles
$btn-border-radius: 4px;

// Well styles
$well-border-radius: $btn-border-radius;

// ## Custom responsive breakpoints
// https://github.com/csswizardry/inuit.css/blob/v5.0.1/_defaults.scss#L100-L105
// DEV: We use custom names as inuit.css' scheme is confusing
$medium-start: 481px;
$large-start: 601px;

// ## Flags
// https://github.com/csswizardry/inuit.css/blob/v5.0.1/_defaults.scss#L20
// https://github.com/csswizardry/inuit.css/blob/v5.0.1/_defaults.scss#L33
// https://github.com/csswizardry/inuit.css/blob/v5.0.1/_defaults.scss#L68-L74
$debug-mode: false; // default
$global-border-box: true; // default
$responsive: false; // Disabled for custom breakpoints/naming
$responsive-extra: false; // default

// ## Internal objects
/**
 * All of inuit.css' objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         false;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;
