.form--inline {
  display: inline;
}

.form-control {
  padding: 3px;
}

.input--block {
  display: block;
  width: 100%;
}

.form-group {
  margin-bottom: $base-spacing-unit;
}

.form-control,
.form-control--fake {
  /* DEV: This is to keep us on vertical rhythm */
  margin-top: 3px;
  margin-bottom: 3px;
}
