//- DEV: Designer after:
//-   https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a12f08aa0
extends layout

block title
  title Add job application - Find Work

block content
  h1.content__heading Add job application
  h2.content__subheading
    | What stage of the application process are you on?
  p
    a.btn.btn--default.btn--selection(href="/research-company")
      | I want to research a company
  p
    a.btn.btn--default.btn--selection(href="/add-application/save-for-later")
      | I want to apply to a job posting later
  p
    a.btn.btn--default.btn--selection(href="/add-application/waiting-for-response")
      | I applied and am waiting for a response
  p
    a.btn.btn--default.btn--selection(href="/add-application/upcoming-interview")
      | I applied and have an upcoming interview
  p.push-triple--bottom
    a.btn.btn--default.btn--selection(href="/add-application/received-offer")
      | I finished interviewing and have an offer

  //- DESIGN: We use button here to teach deletion/reverse action is here
  p
    a.btn.btn--default(href="/schedule")
      | Cancel and return to schedule
