extends layout
include application-mixins
include interview-mixins

block title
  //- Resolve human status
  //- DEV: This must be done in a block, otherwise it's inaccessible
  - var statusKey = application_status.toUpperCase();
  - var humanStatus = APPLICATION_ADD_HUMAN_STATUSES[statusKey];
  - assert(humanStatus);
  title Add job application - #{humanStatus} - Find Work

//- DEV: We cannot share all content with edit page (e.g. it lacks interview fields for upcoming interview)
block content
  h1.content__heading Add job application
  h2.content__subheading
    | Please fill out information about the application
  form.cf(method="POST", action=page_url, data-unsaved-changes)
    +csrf-input()
    .action-bar.push--bottom
      .action-bar__info
        //- DEV: Id is for testing only
        span#application-status
          = "Status: "
          b= humanStatus
    if locals.validation_errors
      //- DEV: Id is for testing only
      #validation-errors.section--error.push--bottom
        | The following errors have occurred:
        ul.flush--bottom
          for error in validation_errors
            li= error.message
    .grid
      .grid__item.one-whole.medium-one-half.large-four-ninths
        +application-name("Name: (if empty, autofilled from URL)", {})
        +posting-url({})
        if application_status !== APPLICATION_STATUSES.SAVED_FOR_LATER
          +application-date({})
      .grid__item.one-whole.medium-one-half.large-five-ninths.company-notes-and-research__container
        +company-notes-and-research({})
      .grid__item.one-whole.medium-one-half.large-four-ninths
        if application_status === APPLICATION_STATUSES.SAVED_FOR_LATER
          +saved-for-later-reminder({})
        else if application_status === APPLICATION_STATUSES.WAITING_FOR_RESPONSE
          +waiting-for-response-reminder({})
        else if application_status === APPLICATION_STATUSES.UPCOMING_INTERVIEW
          h4.push-half--bottom Interview information:
          //- DEV: We could shift follow up dates with application info but
          //-   it's sanest to keep relevant/changing info next to each other
          +interview-fields({})
        else if application_status === APPLICATION_STATUSES.RECEIVED_OFFER
          +received-offer-reminder({})
        else
          throw new Error('Unrecognized status "' + application_status + '"');
        p.push-triple--bottom
          button.btn.btn--primary(type="submit")
            | Save job application
            if application_status === APPLICATION_STATUSES.UPCOMING_INTERVIEW
              = " and interview"
        p
          +back-link().btn.btn--default Go back to previous screen
