extends layout
include schedule-mixins

block title
  title Archived applications - Find Work

block content
  h1.content__heading(style="font-weight: normal") Archived applications
  if archivedApplications.length
    #schedule__archived.push--bottom
      each archivedApplication in archivedApplications
        +schedule-row--application(archivedApplication)
  else
    h2.content__subheading.flush--bottom(style="font-weight: normal")
      | You have no archived applications.
    h3(style="font-weight: normal")
      | To archive an application, click the "Archive" button on its page.
    p.gamma.push-double--top
      a(href="/schedule")
        | Click here to return to schedule.
