//- DEV: Designed after
//-   Large: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a42d82575
//-   Medium: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a26513724
//-   Small: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a72c9658e

extends layout

block title
  if !locals.title
    - throw new Error('No title was specified for page');
  title #{title} - Find Work

block content
  .grid
    .grid__item.small-hidden.medium-two-twelfths.large-two-ninths &nbsp;
    .grid__item.one-whole.medium-eight-twelfths.large-five-ninths
      h1.content__heading.text--center(style="font-weight: normal")= title
      p.text--center= message
      p.text--center
        a(href="javascript:window.history.go(-1);") Click here to return to the previous page
