extends layout
include interview-mixins

block title
  title Add interview - #{selectedApplication.name} - Find Work

block content
  //- Fallback submission data
  - var submissionData = {};

  //- DESIGN: On save, redirect back to “Job application” with a notification about “Upcoming interview added”
  h1.content__heading(style="font-weight: normal") Add interview
  h2.content__subheading(style="font-weight: normal")
    = selectedApplication.name
  p.medium-and-up-hidden
    a.btn.btn--default.btn--thin(href=selectedApplication.url) Cancel and return to job application
    = " "
    //- TODO: If we ever introduce a better menu which has schedule in it, then ditch this button
    a.btn.btn--default.btn--thin(href="/schedule") Return to schedule

  form.cf(method="POST", action=selectedApplication.add_interview_url)
    +csrf-input()
    .grid
      .grid__item.one-whole.medium-one-half.large-four-ninths
        +interview-fields(submissionData, {showInfo: true})
        div
          button.btn.btn--primary(type="submit") Save interview
      .grid__item.one-whole.medium-one-half.large-five-ninths
        div.small-hidden
          a.btn.btn--default.one-whole(href=selectedApplication.url) Cancel and return to job application
