extends layout
include interview-mixins

block title
  title Add interview - #{selectedApplication.name} - Find Work

block content
  //- Fallback submission data
  - var submissionData = {};
  //- Set up moment for 1 day from now with reminders 2 hours before/after
  //- TODO: Use user's timezone from IP
  //- TODO: Restrict pre/post interview reminders to be before/after date/time
  - submissionData.moment = submissionData.moment || moment().tz('America/Chicago').startOf('hour').add({days: 1, hours: 1});
  - submissionData.pre_interview_reminder_moment = submissionData.pre_interview_reminder_moment || submissionData.moment.clone().subtract({hours: 2});
  - submissionData.post_interview_reminder_moment = submissionData.post_interview_reminder_moment || submissionData.moment.clone().add({hours: 2});

  //- DESIGN: On save, redirect back to “Job application” with a notification about “Upcoming interview added”
  h1.content__heading(style="font-weight: normal") Add interview
  h2.content__subheading(style="font-weight: normal")
    = selectedApplication.name
  p.medium-and-up-hidden
    a.btn.btn--default.btn--thin(href=selectedApplication.url) Cancel and return to job application
    = " "
    //- TODO: If we ever introduce a better menu which has schedule in it, then ditch this button
    a.btn.btn--default.btn--thin(href="/schedule") Return to schedule

  form.cf(method="POST", action=selectedApplication.addInterviewUrl)
    != csrfInput
    .grid
      .grid__item.one-whole.medium-one-half.large-four-ninths
        +interview-fields(submissionData, {showInfo: true})
        div
          button.btn.btn--primary(name="submit_button", type="submit", value="save") Save interview
      .grid__item.one-whole.medium-one-half.large-five-ninths
        div.small-hidden
          a.btn.btn--default.one-whole(href=selectedApplication.url) Cancel and return to job application
