//- DEV: Designed after:
//-   Large: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a8e34dc3e
extends layout
include schedule-mixins

block title
  title Schedule - Find Work

block content
  if hasActiveApplications
    //- TODO: Display content heading to all pages
    .medium-and-down-hidden
       h1.content__heading(style="font-weight: normal") Schedule
    +schedule-selection-content()
  else
    .medium-and-down-hidden
      p.alpha.text--center.push-double--top(style="line-height: 1.3")
        span.alpha
          | You have no active job applications.
        br
        span.gamma
          | Choose one of the actions below to get started:
      p.text--center
        a.btn.btn--primary.btn--big(href="/add-application")
          span(aria-hidden="true")= "+ "
          | Add a job application
      p.alpha.text--center
        span.alpha or
      p.text--center
        a.btn.btn--primary.btn--big(href="/research-company") Research a company
    .large-hidden
      +schedule-selection-content()
