//- DEV: Designed after:
//-   Large empty: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a322cfccf
//-   Large full: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/af3edd9a2
extends layout
include schedule-mixins

block title
  title Schedule - Find Work

block content
  h1.content__heading.push-half--bottom Schedule
  - var hasActiveApplications = false;
  - hasActiveApplications = hasActiveApplications || receivedOfferApplications.length !== 0;
  - hasActiveApplications = hasActiveApplications || upcomingInterviewApplications.length !== 0;
  - hasActiveApplications = hasActiveApplications || waitingForResponseApplications.length !== 0;
  - hasActiveApplications = hasActiveApplications || savedForLaterApplications.length !== 0;
  if hasActiveApplications
    .grid.schedule-actions
      //- DEV: `.push-half--bottom` is to provide spacing between buttons on wrap
      //- DEV: `.push--bottom` is to space out next element
      .grid__item.push-half--bottom
        a.btn.btn--default(href="/add-application")
          span(aria-hidden="true")= "+ "
          | Add job application
      .grid__item.push--bottom
        a.btn.btn--default(href="/research-company")
          | Research company

    //- Received offer section
    if receivedOfferApplications.length
      h3.flush--bottom Received offer
      //- DEV: This is actually a 1.5x push due to extra padding for link border
      #schedule__received-offer.push--bottom
        each receivedOfferApplication in receivedOfferApplications
          +schedule-row--application(receivedOfferApplication)

    //- Upcoming interviews section
    h3.flush--bottom Upcoming interviews
    #schedule__upcoming-interviews.push--bottom
      if upcomingInterviewApplications.length
        each upcomingInterviewApplication in upcomingInterviewApplications
          +schedule-row--application(upcomingInterviewApplication)
      else
        p
          i No upcoming interviews.

    //- Waiting for response section
    h3.flush--bottom Waiting for response
    #schedule__waiting-for-response.push--bottom
      if waitingForResponseApplications.length
        each waitingForResponseApplication in waitingForResponseApplications
          +schedule-row--application(waitingForResponseApplication)
      else
        p
          i Not waiting for any responses.

    //- Saved for later section
    if savedForLaterApplications.length
      h3.flush--bottom Saved for later
      //- DEV: This is actually a 1.5x push due to extra padding for link border
      #schedule__saved-for-later.push--bottom
        each savedForLaterApplication in savedForLaterApplications
          +schedule-row--application(savedForLaterApplication)
  else
    h2.content__subheading.flush--bottom
      | You have no active job applications.
    h3
      | Choose one of the actions below to get started:
    .v-this-or-this__container
      .v-this-or-this__row
        .v-this-or-this__cell.soft--bottom
          //- DEV: We use `one-whole` to fill to width of table cell (i.e. longest of buttons)
          a.btn.btn--primary.btn--big.one-whole(href="/add-application")
            span(aria-hidden="true")= "+ "
            | Add a job application
      .v-this-or-this__row
        .v-this-or-this__cell.soft--bottom.text--center
          span.beta or
      .v-this-or-this__row
        .v-this-or-this__cell.soft--bottom
          //- DEV: We use `one-whole` to fill to width of table cell (i.e. longest of buttons)
          a.btn.btn--primary.btn--big.one-whole(href="/research-company") Research a company
