mixin schedule-selection-content()
  //- TODO: Consider listing the schedule from medium screen here instead
  //-   it will be more empathetic
  p.alpha.text--center.push-double--top(style="line-height: 1.3")
    span.alpha
      | No job application is selected.
    br
    span.gamma
      i.fa.fa-arrow-left
      = " "
      | Please select one from the navigation on the left.
