// Setup body heights
// DEV: We use `html { height: 100% }` so the menu can fill vertically
//   We use `body { min-height: 100% }` so we don't truncate body on long pages (e.g. landing)
//   yet still fill menu vertically
html {
  height: 100%;
}
body {
  min-height: 100%;
}

// Unset overzealous `overflow-y` setting
// https://github.com/csswizardry/inuit.css/blob/v5.0.1/base/_main.scss#L6
// DEV: Keep this separate from `height` rule for grouping intent
html {
  overflow-y: auto;
}

// Set up base color
// DEV: Keep this separate from `min-height` rule for grouping intent
body {
  color: $body-color;
}
