//- DESIGN: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/ab68d0397
include mixins
subject We're sorry to see you go
html
  | Hi #{email},
  br
  | This is a confirmation email to verify we have deleted your account as requested.
  br
  br
  = "If you have any feedback for us, let me know at "
  a(href="mailto:todd@findwork.co") todd@findwork.co
  = ". I personally read every email."
  br
  br
  | Sincerely,
  br
  | Todd Wolfson, Founder
  br
  a(href="mailto:todd@findwork.co") todd@findwork.co
