//- DESIGN: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a1e96e88e
//- DEV: We use "Application reminder" as it's consistent with UI
include mixins
subject Application reminder for "#{application.name}"
html
  | Hi #{email},
  br
  | This is your reminder to apply to "#{application.name}". Here's your saved information:
  br
  br
  +email-posting-url(application)
  br
  +email-application-link(application)
  br
  br
  +email-application-notes(application)
  br
  br
  = "If you would like to create another application reminder, then "
  a(href=application.external_url) click here to set up a new reminder
  = "."
  br
  br
  | - The Find Work team
