//- DESIGN: https://app.moqups.com/todd@findwork.co/noWM1oiRBn/edit/page/a32cea087
//- DEV: We use "Follow-up reminder" as it's consistent with UI
include mixins
subject Follow-up reminder for "#{application.name}"
html
  | Hi #{email},
  br
  | This is your reminder to follow-up to "#{application.name}". Here's some information from your application:
  br
  br
  +email-posting-url(application)
  br
  +email-application-link(application)
  br
  br
  //- DEV: We initially designed to list "Past interviews" but notes is more relevant
  +email-application-notes(application)
  br
  br
  = "If you would like to create another application reminder, then "
  a(href=application.external_url) click here to set up a new reminder
  = "."
  br
  br
  | - The Find Work team
