//- Set up our page variable and then load the layout
- var url = '/application/abcdef-sky-networks-uuid';
- var title = 'Application - Engineer II at Sky Networks - Find Work';
include ./views/layout.jade
