//- Set up our page variable and then load the layout
- var url = '/application/abcdef-sky-networks-uuid';
- var title = 'Application - Engineer II at Sky Networks - Find Work';
//- Hack in emulation of selected application
//- TODO: Remove selected application hack when we pass everything on render
- locals.selectedApplication = {id: 'abcdef-sky-networks-uuid'};
include ./views/layout.jade
