//- Set up our page variable and then load the layout
- var url = '/application/abcdef-sky-networks';
- var title = 'Find Work - Application - Engineer II at Sky Networks';
include ./views/layout.jade
