//- Set up our page variables
//- TODO: Should landing page be in its own application?
- var url = '/landing';
- var title = 'Find Work - Manage job leads and applications';
include ./views/layout-base.jade
