// Add more subdivisions for widths
// https://github.com/csswizardry/inuit.css/blob/v5.0.1/generic/_widths.scss
.one-ninth    { width: 11.111%; }
.two-ninths   { width: 22.222%; }
.three-ninths { width: 33.333%; }
.four-ninths  { width: 44.444%; }
.five-ninths  { width: 55.555%; }
.six-ninths   { width: 66.666%; }
.seven-ninths { width: 77.777%; }
.eight-ninths { width: 88.888%; }

// Add our media query bindings (e.g. `medium-one-half`)
// https://github.com/csswizardry/inuit.css/blob/v5.0.1/generic/_widths.scss#L106-L141
// https://github.com/csswizardry/inuit.css/blob/v5.0.1/generic/_helper.scss#L176-L183
@each $state in $responsive-states {
  @include media-query(#{$state}) {
    @include grid-setup('#{$state}-');

    .#{$state}-one-ninth    { width: 11.111%; }
    .#{$state}-two-ninths   { width: 22.222%; }
    .#{$state}-three-ninths { width: 33.333%; }
    .#{$state}-four-ninths  { width: 44.444%; }
    .#{$state}-five-ninths  { width: 55.555%; }
    .#{$state}-six-ninths   { width: 66.666%; }
    .#{$state}-seven-ninths { width: 77.777%; }
    .#{$state}-eight-ninths { width: 88.888%; }
  }
}
