// Button layout
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 9px 21px;
  border-radius: $btn-border-radius;
  border: 1px solid transparent;
}

.btn--small {
  padding: 5px 9px;
}

.btn--thin {
  padding-left: 15px;
  padding-right: 15px;
}

.btn--wide {
  padding-left: 28px;
  padding-right: 28px;

  &.btn--small {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.btn--hero {
  padding: 22px 45px;
  font-size: $h4-size;
}

// Define button colors via Bootstrap
// https://github.com/twbs/bootstrap/blob/v3.3.6/less/buttons.less#L63-L87
.btn--default {
  @include button-variant($btn--default-color, $btn--default-bg, $btn--default-border);
}
.btn--primary {
  @include button-variant($btn--primary-color, $btn--primary-bg, $btn--primary-border);
}
// Danger and error appear as red
.btn--danger {
  @include button-variant($btn--danger-color, $btn--danger-bg, $btn--danger-border);
}

// Custom brand colors
.btn--brand-dark {
  @include button-variant($brand-light, $brand-dark, $brand-light);
}

// Emulate button group
// https://github.com/twbs/bootstrap/blob/v3.3.6/less/button-groups.less
// DEV: We have classes instead of first-child/last-child for use when our buttons are nested in forms
.btn--first {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn--middle {
  border-radius: 0;
  margin-left: -1px;
}

.btn--last {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

