a,
.text--link {
  // Re-define default styles for consistency in `a` and `.text--link`
  // DEV: Colors via http://stackoverflow.com/a/4774046
  color: $link-color;
  text-decoration: underline;
  cursor: pointer;

  &:visited {
    color: $link--visited-color;
  }

  &:active {
    color: $link--active-color;
  }

  &:focus {
    outline: thin dotted;
  }
}

.link--inherit-color {
  // DEV: We retain `&:focus` to have an outline for accessibility
  &,
  &:visited,
  &:active {
    color: inherit;
  }
}

.link--unstyled {
  // DEV: We retain `&:focus` to have an outline for accessibility
  &,
  &:visited,
  &:active {
    color: inherit;
    text-decoration: inherit;
  }
}

.text--link {
  // Reset styles for components like buttons
  background: inherit;
  border: 0;
  padding: 0;
}
