// https://github.com/csswizardry/inuit.css/blob/v5.0.1/generic/_mixins.scss#L261-L328
$responsive-states: (small, medium, medium-and-up, medium-and-down, large);
$small-end: $medium-start - 1;
$medium-end: $large-start - 1;
@mixin media-query($media-query) {
  @if $media-query == small {
    @media (max-width: $small-end) { @content; }
  }

  @if $media-query == medium {
    @media (min-width: $medium-start) and (max-width: $medium-end) { @content; }
  }

  @if $media-query == medium-and-up {
    @media (min-width: $medium-start) { @content; }
  }

  @if $media-query == medium-and-down {
    @media (max-width: $medium-end) { @content; }
  }

  @if $media-query == large {
    @media (min-width: $large-start) { @content; }
  }
}
